<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kibwa.campus.persistance.mapper.rev.IRevMapper">

    <insert id="save" parameterType="kibwa.campus.dto.rev.CampingInfoResponseDTO">
        <selectKey keyProperty="rev_num" resultType="String" order="BEFORE">
            SELECT REV_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO REV (
            REV_NUM,
            REV_DATE,
            REV_PEOPLE,
            ENTER_DATE,
            EXIT_DATE,
            MEM_NUM,
            SECTOR_NUM
        )
        values(
            #{rev_num},
            #{rev_date},
            #{rev_people},
            #{enter_date},
            #{exit_date},
            #{mem_num},
            #{sector_num}
              )
    </insert>

    <!-- 예약 쿼리 -->
    <select id="findRevCampInfo" resultType="kibwa.campus.dto.rev.CampingInfoResponseDTO">
        select A.CGROUND_INFO_NUM,
               A.CGROUND_NAME,
               A.CGROUND_LOCATION,
               A.CGROUND_TEL,
               A.CGROUND_DEPOSIT,
               A.CAMPING_ENTER,
               A.CAMPING_EXIT,
               A.CGROUND_DETAIL_INFO,
               A.ADD_FACIL,
               A.REV_COUNT,
               A.LOCATION_CITY_NUM,
               B.SECTOR_NUM,
               C.CAMPING_TYPE_NUM,
               C.CAMPING_TYPE_NAME
        FROM CGROUND_INFO A,
             SECTOR B,
             CAMPING_TYPE C
        WHERE 1=1
            AND A.CGROUND_INFO_NUM = B.CGROUND_INFO_NUM
            AND B.CAMPING_TYPE_NUM = C.CAMPING_TYPE_NUM
            AND B.SECTOR_NUM = #{sector_Num}

    </select>

    <select id="getRevInfo" resultType="kibwa.campus.dto.rev.GuestInfoResponseDTO">
        SELECT A.REV_NUM,
               A.REV_DATE,
               A.REV_PEOPLE,
               A.REV_REVIEW,
               A.ENTER_DATE,
               A.EXIT_DATE,
               A.HELP_CHECK,
               A.MEM_NUM,
               A.SECTOR_NUM,
               B.NAME,
               B.MEM_TEL
        FROM REV A,
             MEMBER B
        WHERE A.MEM_NUM = B.MEM_NUM
            AND REV_NUM = #{rev_num}
    </select>


</mapper>