<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kibwa.campus.persistance.mapper.rev.IRevMapper">

    <!-- 예약 쿼리 -->
    <select id="getRevList" resultType="kibwa.campus.dto.rev.RevDTO">
        select m.NAME as NAME ,
               m.MEM_TEL as MEM_TEL,
               m.EMAIL as EMAIL,
               r.REV_PEOPLE as REV_PEOPLE,
               r.HELP_CHECK as HELP_CHECK,
               r.SECTOR_NUM as SECTOR_NUM,
               r.REV_DATE as REV_DATE,
               r.ENTER_DATE as ENTER_DATE,
               r.EXIT_DATE as EXIT_DATE
        from REV r,
             MEMBER m
        where m.name='스프링'
    </select>

    <!-- 예약 쿼리 -->
    <select id="getRevDateList" resultType="kibwa.campus.dto.rev.RevDTO">
        select *
        from MEMBER
    </select>

    <insert id="save" parameterType="kibwa.campus.dto.rev.RevDTO">
        INSERT INTO REV (
            REV_PEOPLE,
            ENTER_DATE,
            EXIT_DATE
        )
        values(
                  #{rev_People},
                  #{enter_Date},
                  #{exit_Date}
              )
    </insert>

    <!-- 예약 쿼리 -->
    <select id="findRevCampInfo" resultType="kibwa.campus.dto.rev.RevDTO">
        select '1' as ID
        from
            dual
    </select>


</mapper>