@import url(https://www.jqueryscript.net/demo/jQuery-Plugin-For-Date-Range-Selector-Range-Calendar/css/rangecalendar.css);
@import url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css);
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#date-box {
    border-color:darkolivegreen;
    width: 400px;
    height: 40px;
}