<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kibwa.campus.persistance.mapper.IBoardMapper">

    <!-- 게시판 리스트 쿼리 -->
    <select id="getBoardList" resultType="kibwa.campus.dto.BoardDTO">
        select b.board_num, b.board_title, b.board_post_date, b.board_view_num, m.id
        from board b, member m
    </select>

    <!--게시판 등록 쿼리 -->

    <!--게시판 상세보기 쿼리 -->

    <!--조회수 증가 쿼리 -->

    <!--게시판 수정 쿼리-->

    <!--게시판 삭제 쿼리 -->


</mapper>