<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kibwa.campus.persistance.mapper.ICaravanMapper">

    <!-- 카라반 리스트 -->
    <select id="getCaravanList" resultType="kibwa.campus.dto.CaravanDTO">
        SELECT * FROM CGROUND_INFO
    </select>

    <!-- 카라반 상세정보 -->
    <select id="getCaravanDetail" resultType="kibwa.campus.dto.CaravanDTO">
        SELECT * FROM CGROUND_INFO where cground_info_num = #{cground_info_num}
    </select>

    <!-- 카라반 섹터 정보 -->
    <select id="getCaravanSector" resultType="String">
        SELECT Sector_Num FROM Sector where cground_info_num = #{cground_info_num}
    </select>

    <!-- 관리자 캠핑장정보 insert -->
    <insert id="insertCampingInfo" parameterType="kibwa.campus.dto.CaravanDTO">
        INSERT INTO CGROUND_INFO
        (cground_info_num,
         location_city_num,
         cground_location,
         cground_name,
         cground_tel,
         cground_deposit,
         camping_enter,
         camping_exit,
         cground_detail_info,
         add_facil,
         rev_count,
         business_num)
        VALUES (cground_seq.nextval,
                (select location_city_num from location_city where city_name = #{city_name}),
                #{cground_location},
                #{cground_name},
                #{cground_tel},
                #{cground_deposit},
                #{camping_enter},
                #{camping_exit},
                #{cground_detail_info},
                #{add_facil},
                0,
                #{business_num})
    </insert>

    <!-- 카라반 정보 수정 -->
    <update id="updateCaravan" parameterType="kibwa.campus.dto.CaravanDTO">
        UPDATE CGROUND_INFO
        SET LOCATION_CITY_NUM = (select location_city_num from location_city where city_name = #{city_name}),
            CGROUND_LOCATION = #{cground_location},
            CGROUND_NAME = #{cground_name},
            CGROUND_TEL = #{cground_tel},
            CGROUND_DEPOSIT = #{cground_deposit},
            CAMPING_ENTER = #{camping_enter},
            CAMPING_EXIT = #{camping_exit},
            CGROUND_DETAIL_INFO = #{cground_detail_info},
            ADD_FACIL = #{add_facil}
        WHERE CGROUND_INFO_NUM = #{cground_info_num}
    </update>

    <!-- 카라반 삭제 -->
    <delete id="deleteCaravan" parameterType="kibwa.campus.dto.CaravanDTO">
        DELETE
        FROM CGROUND_INFO
        WHERE CGROUND_INFO_NUM = #{cground_info_num}
    </delete>



</mapper>