<!-- insert 데이터 삽입 실시 : 이미지 저장 -->
<insert id = "saveImage">
    <![CDATA[
    insert into TEST_BLOB ( T_IDX, T_BLOB )
    values ( #{idx} , #{img} )
    ]]>
</insert>

<!-- select 조건 절 조회 : 이미지 조회 -->
<select id = "selectImage" resultType="map">
    <![CDATA[
    select t_blob
        from test_blob
    where t_idx = #{idx}
    ]]>
</select>