<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kibwa.campus.persistance.mapper.IRevMapper">

    <!-- 예약 쿼리 -->
    <select id="getRevList" resultType="kibwa.campus.dto.RevDTO">
        select m.name, r.rev_people, r.help_check, r.sector_num, r.rev_date, r.enter_date, r.exit_date
        from rev r, member m
    </select>



</mapper>